/* === LOGIN EL TRIUNFO === */
body {
    background-color: #083147;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.login-box {
    background-color: #0f4b63;
    padding: 2.5rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 370px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: white;
}

.login-box img {
    width: 90px;
    height: auto;
    margin-bottom: 10px;
}

.login-box h2 {
    color: #f22b2b;
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.login-box p {
    font-size: 0.9rem;
    color: #d0e6ff;
    margin-bottom: 1.5rem;
}

.btn-custom {
    width: 100%;
    border: none;
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    font-weight: 500;
    transition: transform 0.2s ease, background 0.3s ease;
}

.btn-custom:hover {
    transform: scale(1.03);
}

.btn-cliente {
    background-color: #3aa6ff;
    color: white;
}

.btn-empleado {
    background-color: #3aa6ff;
    color: white;
}

.btn-admin {
    background-color: #3aa6ff;
    color: white;
}

/* Formularios */
.form-section {
    display: none;
}

.form-section.active {
    display: block;
}